<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dheader">
                {% for wedding in weddings %}
                    {% if user.id == wedding.wedding_owner.id %}
                        {{wedding.cdate|date:"F d, Y" }} |
                        {{wedding.ccity}}, {{wedding.cstate}}
            </div>
            <h1 class="title">{{user.fname}} & {{wedding.sfname}}</h1>
            <div class="links">
                <p><a href="/wedding/{{user.id}}">Home</a>
                <a href="/details/{{user.id}}">Details</a>
                <a href = "/registry/{{user.id}}">Registry</a>
                    <a href="/posts/{{user.id}}">Posts</a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr class="hr">
            <div class="registry_container">
                <div class="registry">
                    {% for registry in registries %}
                        {% if registry.registry_owner.id == user.id %}
                            <div class="reg_blocks">
                                    {% if registry.remaining_balance <= 0 %}
                                    <span class="funame">{{registry.funame}}</span>
                                    <br><img class="detailimg" src="{% static "images/check.png" %}" alt="check">
                                    {% else %}
                                    <span class="funame">{{registry.funame}}</span>
                                    <br><img class="detailimg" src="{% static "images/gift.webp" %}" alt="git">
                                    {% endif %}
                                    {% if registry.remaining_balance <= 0 %}
                                        <br>Goal: ${{registry.goal}}
                                        <p class="no_balance">$0 still needed</p>
                                        <p class="no_balance">Purchased!</p>
                                    {% else %}
                                        <br>Goal: ${{registry.goal}}
                                        <p class="remaining_balance">${{ registry.remaining_balance }} still needed</p>
                                        <p><a href="/contribute/{{registry.id}}"><button class="contribute_button">Contribute</button></a></p>
                                    {% endif %}
                                    <hr class="hr_below">
                            </div>
                        {% endif %}
                    {% endfor %}
                        {% if this_user.id == user.id %}
                            <a href = "/create_registry"><button class= "add_fund_button">Add an additional fund</button></a>
                        {% endif %}
                </div>
            </div>
            <hr>
            <div class="footer_links">
                {% for wedding in weddings %}
                        {% if this_user.id == wedding.wedding_owner.id and user.id == wedding.wedding_owner.id %}
                            <a href="/my_wedding/{{wedding.id}}" class="logout">Edit my wedding</a>
                        {% endif %}
                    {% endfor %}
                <a href="/logout" class="logout">Logout</a>
                <a href= "/home" class="home">Back to all wedding sites</a>
            </div>
        </div>
    </div>
</body>
</html>